.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 200px;
}

.title {
  font-kerning: none;
  flex: 0.3;
  font-size: 3rem;
  font-weight: 600;
  width: 100%;
  margin-bottom: 30px;
  color: var(--accent-color);
}

.card {
  opacity: 0;
}

.title > h1 {
  opacity: 0;
}

.services {
  flex: 0.7;
  display: flex;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
  min-width: 300px;
}

.cardWraper {
  width: 100%;
  padding-left: 20px;
  border-left: 2px solid var(--secondary-color);
}

.serviceTitle {
  font-size: calc(var(--font-size) * 1.1);
  font-weight: 600;
  padding-bottom: 15px;
  cursor: default;
  user-select: none;
}

.serviceList > ul > li {
  margin: 20px 0;
  opacity: 0;
  cursor: pointer;
  user-select: none;
  color: var(--secondary-color);
  width: fit-content;
  transition: all var(--transition-speed) var(--cubic-bezzier);
  -webkit-transition: all var(--transition-speed) var(--cubic-bezzier);
  -moz-transition: all var(--transition-speed) var(--cubic-bezzier);
  -ms-transition: all var(--transition-speed) var(--cubic-bezzier);
  -o-transition: all var(--transition-speed) var(--cubic-bezzier);
}

.serviceList > ul > li > a {
  color: var(--secondary-color);
}

.serviceList > ul > li > a::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: -26px;
  background-color: var(--secondary-color);
  transition: all var(--transition-speed) var(--cubic-bezzier);
  -webkit-transition: all var(--transition-speed) var(--cubic-bezzier);
  -moz-transition: all var(--transition-speed) var(--cubic-bezzier);
  -ms-transition: all var(--transition-speed) var(--cubic-bezzier);
  -o-transition: all var(--transition-speed) var(--cubic-bezzier);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.serviceList > ul > li > a:hover::after {
  content: "\1F865";
  position: absolute;
  font-size: 1.2rem;
  right: -20px;
  top: 0;
}

.serviceList > ul > li > a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.serviceList > ul > li > a:hover::before {
  background-color: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .services {
    justify-content: start;
  }
}
