.circleContainer {
  position: relative;
  width: 6lvw;
  height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: end;
}

.circle {
  width: 400%;
  left: -50%;
  transform: translate(-50%, 0);
  display: block;
  height: 120lvh;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--bg-color);
  box-shadow: 0 60px 50px rgba(0, 0, 0, 0.478);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
