html[data-scroll-orientation="horizontal"] {
  body {
    width: fit-content;
  }
  [data-scroll-container] {
    display: flex;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  outline: none;
  user-select: none;
  font-family: var(--font-lato);
}

:root {
  /* Colors */
  --bg-color: #ffffff; /* Background color: Light gray */
  --primary-color: #000000; /* Primary color: Dark slate gray */
  --secondary-color: #585858; /* Secondary color: Light blue-gray */
  --accent-color: #e04f4f; /* Accent color: Dark cerulean */
  --error-color: #e74c3c; /* Error color: Red */
  --transition-bg-color: #fffacd; /* Transition background color */
  /* #F9EDED */

  /* Margins */
  --margin-auto: 0 auto; /* Margin auto */
  --g-margin: 20px; /* General margin */

  /* Sizes */
  --max-screen: 1200px; /* Max width for large screens */
  --font-size: 1rem; /* Font size */
  --title-font-size: clamp(2.2rem, 9vw, 3.5rem); /* Title font size */
  --line-height-multiplier-normal: 1.2; /* Line height multiplier for normal text */
  --line-height-multiplier-large: 0.9; /* Line height multiplier for large text */
  --letter-spacing-small: -1px; /* Letter spacing for small text */
  --letter-spacing-medium: -2.5px; /* Letter spacing for normal text */
  --letter-spacing-large: -3.5px; /* Letter spacing for large text */

  /* Other */
  --box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  --border-radius: 8px; /* Border radius */
  --transition-speed: 0.3s; /* Transition speed */
  --cubic-bezzier: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* General Styles */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--primary-color);
  line-height: 1.43;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-lato);
  padding-top: 60px !important;
}

.secularOne {
  font-family: var(--font-secular-one) !important;
}

.lato {
  font-family: var(--font-lato);
}

.container {
  width: 95vw;
  height: 100%;
  position: relative;
  max-width: var(--max-screen);
  margin: var(--margin-auto);
}

.divider::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 60%;
  background-color: lightgray;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

.error-404 {
  background-color: var(--bg-color);
  width: 100dvw;
  height: calc(100dvh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 700;
  opacity: 0;
  font-kerning: none;
  text-align: center;
}

#textAnimation {
  font-kerning: none;
}

@media screen and (max-width: 768px) {
  .divider::after {
    width: 80%;
    height: 0.1px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
  }
}
