.main {
  width: 100vw;
  min-height: 100vh;
  transition: all var(--transition-speed) var(--cubic-bezzier);
  -webkit-transition: all var(--transition-speed) var(--cubic-bezzier);
  -moz-transition: all var(--transition-speed) var(--cubic-bezzier);
  -ms-transition: all var(--transition-speed) var(--cubic-bezzier);
  -o-transition: all var(--transition-speed) var(--cubic-bezzier);
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whyus {
  width: 100%;
  height: 100% !important;
  font-size: 3rem;
  color: var(--accent-color);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whyus > h1 {
  opacity: 0;
  text-align: center;
}

.cards {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card {
  opacity: 0;
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cardContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.cardTitle {
  font-size: calc(var(--font-size) * 1.3);
  font-weight: 700;
  padding: 20px 0;
  color: var(--primary-color);
}

.cardDescription {
  font-size: calc(var(--font-size) * 0.9);
  color: var(--secondary-color);
  padding-bottom: 15px;
}
