.animation {
  z-index: 999;
  position: fixed;
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, var(--bg-color) 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  right: 0;
}

.animation::after {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--primary-color);
  opacity: 0.2;
}

.header {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  position: relative;
}

.navBar {
  display: none;
}

.menu > ul {
  display: flex;
  gap: 1rem;
}

.links > a {
  font-size: var(--font-size);
  color: var(--primary-color);
  padding: 0.7rem 0;
  margin: 0 0.5rem;
  font-weight: 900;
  position: relative;
}

.links > a:hover,
.links.active > a {
  color: var(--accent-color);
}

.links > a::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: var(--accent-color);
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: all var(--transition-speed) var(--cubic-bezzier);
  -webkit-transition: all var(--transition-speed) var(--cubic-bezzier);
  -moz-transition: all var(--transition-speed) var(--cubic-bezzier);
  -ms-transition: all var(--transition-speed) var(--cubic-bezzier);
  -o-transition: all var(--transition-speed) var(--cubic-bezzier);
  pointer-events: none;
}

.links.active > a::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.links > a:hover::after,
.active::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.sideMenu {
  display: none;
}

@media (max-width: 768px) {
  .menu > ul {
    display: none;
  }

  .navBar {
    display: block;
  }

  .header {
    height: 90px;
  }

  .sideMenu {
    display: initial;
  }
}
